{% extends "base_layout.html" %}
<!---->
{% block title %}Register{% endblock title %}
<!---->

{% block body %}
<div class="w-screen h-screen flex flex-col items-center pt-32">
    <form
            method="post"
            class="w-full max-w-md mx-auto flex flex-col gap-8"
    >
        <h1 class="text-3xl font-bold mb-12 text-center">
            Register your account
        </h1>

        <div class="w-full flex flex-col gap-2">
            <label for="email">Email</label>
            <input
                    id="email"
                    type="email"
                    name="email"
                    class="w-full p-4 border"
                    placeholder="user@example.com"
                    required
            />
        </div>
        <div class="w-full flex flex-col gap-2">
            <label for="password">Password</label>
            <input
                    id="password"
                    type="password"
                    name="password"
                    class="w-full p-4 border"
                    placeholder="--------"
                    required
            />
        </div>
        <div class="w-full flex flex-col gap-2">
            <button
                    type="submit"
                    class="p-4 bg-zinc-900 text-white cursor-pointer"
            >
                Register
            </button>
        </div>
        <div class="w-full flex flex-col gap-2">
            <p class="text-center">
                Already have an account?
                <a
                        href="/auth/login"
                        class="underline"
                >Login</a>
            </p>
        </div>
    </form>
</div>

{% endblock body %}
