<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
<!--    <link href="{{ url_for('static', path='css/output.css') }}" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="{{ url_for('static', path='css/global.css') }}">-->
    <script src="/static/js/htmax.min.js"></script>
    <link
            href="/static/css/output.css"
            rel="stylesheet"
    >
    <link
            href="/static/css/global.css"
            rel="stylesheet"
    >
    <title>{% block title %}{% endblock title %} - SyncFlow</title>
</head>

<body id="body">
{% include "components/messages.html" %}
{% block body %}{% endblock body %}
</body>

</html>
