<div
        class="doc_card w-full inline-flex flex-col p-4 justify-between gap-2 aspect-[3/4] border bg-white hover:bg-zinc-200 cursor-pointer"
        title="{{doc.name}}"
>
    <a
            href="/documents/{{doc.id}}"
            class="flex-1 flex items-center justify-center"
    >
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="100"
                height="100"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="opacity-20 lucide lucide-file-text-icon lucide-file-text"
        >
            <path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"/>
            <path d="M14 2v5a1 1 0 0 0 1 1h5"/>
            <path d="M10 9H8"/>
            <path d="M16 13H8"/>
            <path d="M16 17H8"/>
        </svg>
    </a>
    <div class="w-full flex justify-between gap-1">
        <div class="flex flex-col overflow-hidden">
            <a
                    href="/documents/{{doc.id}}"
                    class="truncate font-medium hover:underline"
            >{{doc.name}}</a>
            <small class="overflow-hidden">{{doc.created_at.strftime('%b %d, %Y') }}</small>
        </div>
        {% if user.id == doc.creator.id %}
        <div class="relative">
            <button
                    class="shrink-0 size-8 hover:bg-white ml-auto rounded-full flex items-center justify-center"
                    onclick="handleDropdownClick(event, 'document-moreoptions-{{index}}')"
            >
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical"
                >
                    <circle
                            cx="12"
                            cy="12"
                            r="1"
                    />
                    <circle
                            cx="12"
                            cy="5"
                            r="1"
                    />
                    <circle
                            cx="12"
                            cy="19"
                            r="1"
                    />
                </svg>
            </button>

            <div
                    id="document-moreoptions-{{index}}"
                    class="hidden absolute z-100 bg-white top-full -mt-2 right-0 min-w-40 w-full py-2 flex flex-col border"
            >
                <button
                        class="text-start w-full py-3 px-6 text-red-500 hover:bg-red-500 hover:text-white"
                        hx-delete="/documents/{{doc.id}}"
                        hx-trigger="click"
                        hx-target="closest .doc_card"
                        hx-swap="delete"
                        hx-confirm="Are you sure, you want to delete this document?"
                >Delete
                </button>
            </div>
        </div>
        {% endif %}

    </div>
    <div class="w-full flex items-center justify-between gap-1">
        <div class="w-full flex items-center gap-1 overflow-hidden">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="shrink-0 lucide lucide-circle-user-round-icon lucide-circle-user-round"
            >
                <path d="M17.925 20.056a6 6 0 0 0-11.851.001"/>
                <circle
                        cx="12"
                        cy="11"
                        r="4"
                />
                <circle
                        cx="12"
                        cy="12"
                        r="10"
                />
            </svg>
            <span class="text-sm truncate">{{doc.creator.email}}</span>
        </div>
        {% if user.id == doc.creator.id %}
        <span class="text-xs px-1 bg-zinc-900 text-white">You</span>
        {% endif %}
    </div>
</div>

